<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="#fa fa-search"></i> 検索条件</h3>
     </div>
      <div class="panel-body text-center">
         <%= form_tag(search_customers_path,:method => 'get') do %>
          <label class="control-label" for="">会社名</label>
     
                  <%= text_field_tag :search,'',size:50  , placeholder:"会社名を入力してください" %>
    
                  <%= link_to customers_path, class: 'btn btn-default btn-left' do %>Clear<% end %>
                  <%= submit_tag 'Search', :name => nil , class: 'btn btn-grey' %>
                  <% end %>
      </div>
    </div>
  </div>
</div>